# Example _pkgdown.yml for NOAA-FIMS R packages
#
# Copy this file to pkgdown/_pkgdown.yml in your package and customize it.
# This template provides the CSS and favicon assets; you own this config file.
#
# The template-managed files that will be kept in sync are:
#   pkgdown/extra.css
#   pkgdown/favicon/**
#   pkgdown/assets/**
#   pkgdown/FIMS_PKGDOWN_TEMPLATE_VERSION
#
# DO NOT expect this example file to be synced by the template workflow.

url: https://noaa-fims.github.io/<your-package-name>

template:
  bootstrap: 5
  includes:
    before_title: <img class="navlogo" src="https://noaa-fims.github.io/images/FIMS_logo3.png" alt="FIMS logo" width="60" align="left" />
    in_header: |
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

home:
  title: <Your Package Title>

navbar:
  structure:
    left:
      - reference
      - articles
      - news
    right:
      - github
      - search
  components:
    github:
      icon: fa-brands fa-github fa-lg
      href: https://github.com/NOAA-FIMS/<your-package-name>
      aria-label: GitHub repository

reference:
- title: "All functions"
  contents:
  - everything()  # matches all exported functions; refine as needed
